* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #323536;
    overflow-y: auto;
}

.heading {
    font-family: 'Source Code Pro', monospace;
    color: #00FF33;
    text-align: center;
    padding-top: 4vh;
    padding-bottom: 4vh;
}

.center {
    margin: 0 auto;
    align-content: center;
    justify-content: center;
}

.wrapper {
    position: absolute;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    margin: 0 auto;
    width: 100%;
}

.front {
    z-index: 2;
}

.content {
    height: 80%;
    width: 80vw;
    margin-top: 8vh;
    background-color: black;
    border: 5px solid white;
    overflow: hidden;
    position: relative;
}

.ml11 {
    font-weight: 700;
    font-size: 3vmax;
}

.ml11 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
}

.ml11 .letter {
    display: inline-block;
    line-height: 1em;
}

.image {
    width: auto;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}

#avatar {
    max-height: 50%;
    max-width: 50%;
    border: 3px solid white;
    border-radius: 500px;
}

.footer {
    position: absolute;
    bottom: 10%;
    height: 8%;
    width: 100%;
}

.social {
    padding: 1.5vmax;
    font-size: 2vmax;
    width: 2vmax;
    text-align: center;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 50%;
}

.fa-linkedin {
    background: #0095EF;
    color: white;
}

.fa-github {
    background: #6A38B3;
    color: white;
}

.fa-envelope {
    background: #FE433C;
    color: white;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

.column {
    float: left;
    width: 33.33%;
    height: 100%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.arrow {
    animation: 0.5s bounce ease infinite;
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
}

#arrow {
    color: white;
    cursor: pointer;

}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(3px);
    }

    100% {
        transform: translateY(0);
    }
}

section {
    display: grid;
    grid-template-columns: repeat(10, auto);
}

section div {
    background-color: white;
    height: calc(var(--vh, 1vh) * 100);
    transition: background-color 1s;
}

@media only screen and (min-device-width: 1025px) {
    .content {
        width: 40vw;
    }

    .heading {
        padding-top: 2vh;
        padding-bottom: 2vh;
    }
}
