* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #323536;
}

.heading {
    font-family: 'Archivo', sans-serif;
    text-align: center;
    padding-top: 4%;
}

.terminal {
    font-family: 'Source Code Pro', monospace !important;
    color: #00FF33;
    padding-bottom: 3vh;
}

.center {
    margin: 0 auto;
    align-content: center;
    justify-content: center;
}

.light {
    background-color: white;
}

section {
    display: grid;
    grid-template-columns: repeat(10, auto);
}

section div {
    background-color: white;
    transition: background-color 1s;
}

.page {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
}

.wrapper {
    position: absolute;
    width: 100%;
    overflow-x: hidden;

}

.front {
    z-index: 2;
}

.content {
    height: 80%;
    width: 80vw;
    margin-top: 8vh;
    background-color: black;
    border: 5px solid white;
    overflow: hidden;
    position: relative;
}

h1 {
    font-weight: 700;
    font-size: 3vmax;
    padding-top: 6% !important;
}

.image {
    width: auto;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#avatar {
    max-height: 30vmin;
    max-width: 30vmin;
    border: 3px solid white;
    border-radius: 500px;
}

.footer {
    position: absolute;
    bottom: 0;
    background-color: black;
    padding-bottom: 5vmax;
    height: 8%;
    width: 100%;
}

.social {
    padding: 1.5vmax;
    font-size: 2vmax;
    width: 2vmax;
    text-align: center;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 50%;
}

.fa-linkedin {
    background: #0095EF;
    color: white;
}

.fa-github {
    background: #6A38B3;
    color: white;
}

.fa-envelope {
    background: #FE433C;
    color: white;
}

.fa:hover {
    opacity: 0.7;
}

.column {
    float: left;
    width: 33.33%;
    height: 100%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.arrow {
    animation: 0.5s bounce ease infinite;
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
}

#arrow {
    color: white;
    cursor: pointer;

}

.info-box {
    height: 19%;
    width: 80%;
    display: block;
    border: 2px solid black;
    border-radius: 10px;
    margin: auto;
    margin-top: 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.l-mobile {
    float: left;
    clear: left;
    margin-left: 3.5%;
}

.r-mobile {
    float: right;
    clear: right;
    margin-right: 3.5%;
}

.logo {
    padding-top: 0.7vh;
    max-height: 4vmax;
    max-width: 4vmax;
}

.info-box:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

h2 {
    content: "";
    clear: both;
}

h3 {
    font-size: 1.1vmax;
}


h5 {
    padding-top: 1% !important;
    font-size: 1vmax;
}

ul {
    display: inline-block;
    padding-left: 3vmax;
    padding-right: 1vmax;
    padding-top: 1vmax;
    padding-bottom: 1vmax;
}

li {
    font-family: 'Archivo', sans-serif;
    font-size: 65%;
    margin-top: 0.2vh;
    margin-bottom: 0.2vh;
}

.proj {
    font-size: 1.8vmax;
}

hr {
    border: 0;
    height: 0;
    width: 96%;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin: auto;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(3px);
    }

    100% {
        transform: translateY(0);
    }
}

@media only screen and (min-device-width: 768px) {
    .content {
        width: 40vw;
    }

    .heading {
        padding-top: 2vh;
    }

    .info-box {
        width: 45%;
        height: 37.5%;
        overflow: hidden;
    }

    .left {
        float: left;
        clear: left;
        margin-left: 3.5%;
    }

    .right {
        float: right;
        clear: right;
        margin-right: 3.5%;
    }

    ul {
        padding-top: 1vmax;
        padding-bottom: 1vmax;
    }

    li {
        font-size: 130%;
    }

    h3 {
        font-size: 1.5vmax;
    }


    h5 {
        padding-top: 1% !important;
        font-size: 1.3vmax;
    }

}
